.heading-back-pic{
    background-image: url(../../assests/connect.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 80px;

}
.bg-m{
    background-color: #b58d2e;
}
.road-heading{
    color: white;
    text-align: center;
    padding:20px ;
    font-weight: bold;
}